<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.openarms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenArms">
        <activity android:name=".ConsentPage"></activity>
        <activity android:name=".CounselorStudentChatPage" />
        <activity android:name=".AIChatPage" />
        <activity android:name=".CounselorHomePage" />
        <activity android:name=".StudentHomePage" />
        <activity android:name=".CounselorSignup" />
        <activity android:name=".StudentSignup" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="package.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>